/* GENERAL STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #FFF;
	font-family: "Inter";
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 0.5px;
}

body {
	background-color: #050D1F;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

/* NAVIGATION */
.nav-wrapper {
	width: 90%;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 12px;
}

nav svg {
	fill: #FFF;
	margin-right: 20px
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

nav a {
	margin-right: 15px;
	transition: all 0.5s ease;
	position: relative;
	padding: 25px 5px;
}

/* TOOLTIP */
.tooltip {
	display: none;
	height: 410px;
	width: 200px;
	background-color: #FFF;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 65px;
	left: 25px;

	& > a {
		display: flex;
		flex: 1;
		font-size: 12px;
		padding: 0 0 0 10px;
		align-items: center;
		color: #000;
		border-radius: 4px;
		transition: none;
		margin: 0;
	}

	& > a:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

	&:before {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 3px;
		transform: rotate(45deg);
		background-color: #FFF;
		position: absolute;
		top: -5px;
		left: 70px;
	}
}


.link-1:hover + .tooltip-1, .tooltip-1:hover, .link-5:hover + .tooltip-2, .tooltip-2:hover {
	display: flex;
}

.tooltip-2 {
	left: 330px;
	height: 150px;
}

/* SEARCH */
.search-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	& > div {
		margin-right: 15px;
	}
}

.sign-up {
	border: 1px solid #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 5px;
}

.search input {
	padding: 5px 7px 7px 10px;
	border-radius: 5px;
	border: none;
	background-color: rgba(255, 255, 255, 0.1)
}

.search input::placeholder {
	color: #D1D2D5;
	font-size: 10px;
}

/* CONTENT */
.content-wrapper {
	display: flex;
	padding: 0 0 0 80px;

	& > img {
		height: 500px;
		margin-right: -20px;
	}
}

.content {
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;

	 & > h1 {
		font-size: 72px;
		line-height: 76px;
		font-weight: 800;
		letter-spacing: 0;
		margin-bottom: 15px;
		z-index: 2;
	}

	& > p {
		font-size: 24px;
		line-height: 32px;
		font-weight: 400;
		letter-spacing: 0;
		color: #8193B2;
		margin-bottom: 15px;
	}
}

.form-wrapper {
	display: flex;

	& > input {
		padding: 14px;
		border-radius: 5px;
		border: none;
		background-color: #FFF;
		width: 300px;
		margin-right: 10px;
	}
}

.main-sign-up {
	background-color: #33B558;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
}

.vid {
	width: 660px;
}
/* STATS */
.stats-wrapper {
	padding: 0 80px;
	margin-bottom: 50px;

	& > hr {
		height: 1px;
		border-color: rgba(255, 255, 255, 0.3);
		margin-bottom: 15px;
	}
}

.stats {
	display: flex;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding-top: 20px;
	margin-top: 40px;
}

.stat {
	margin-right: 50px;

	& > h3 {
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 2px;
		font-family: "Consolas";
	}

	& > h4 {
		font-size: 9px;
		font-weight: 100;
		margin-bottom: 2px;
		font-family: "Consolas";
		opacity: 0.5;
	}
}

/* ENTERPRISE */
.enterprise-section {
	height: 500px;
	background-color: #FFF;
	margin-top: -5px;
}
